body {
    background: #333;
}

h1, h2 {
    font-family: Trebuchet MS, Sans;
    text-align: center;
    color: white;
}

div#maze svg {
    display: block;
    margin: 0 auto;
}

div#controls {
    text-align: center;
    padding: 10px;
}

input[type=button] {
    font-family: Trebuchet MS, Sans;
    background-color: #333;
    color: white;
    border: 2px #666 solid;
}

input[type=button]:hover {
    background-color: #666;
}

input[type=button]:active {
    background-color: #999;
}
